name: Spring Boot CI/CD with Docker and AWS EC2

on:
  push:
    branches:
      - master

jobs:
  build-and-push-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'corretto'
          cache: maven
          
      - name: Build with Maven
        run: mvn clean package -DskipTests
        working-directory: ./demo # Specify the relative path to your pom.xml location
        
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./demo
          file: ./demo/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/my-springboot:latest # Replace with your image name
          
  deploy:
    needs: build-and-push-docker
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Log in to Docker Hub on the EC2 instance
            docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}
            # Stop and remove existing container
            docker stop demo-springboot || true
            docker rm demo-springboot || true
            # Pull the new image from Docker Hub
            docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/my-springboot:latest
            # Run the new container, exposing the necessary port
            docker run -d --name demo-springboot -p 8080:8080 ${{ secrets.DOCKER_HUB_USERNAME }}/my-springboot:latest
