name: Spring Boot CI/CD to AWS EC2

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v3
        
      # - name: Run a script
      #   run: echo "Building and deploying the application..." # A sample step
        
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'
          cache: maven
          
      - name: Build with Maven
        run: mvn clean install
        working-directory: ./demo # Specify the relative path to your pom.xml location

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
         name: demo-app
         path: demo/target/*.jar
