name: Spring Boot CI/CD to AWS EC2

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4
        
      # - name: Run a script
      #   run: echo "Building and deploying the application..." # A sample step
        
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'corretto'
          cache: maven
          
      - name: Build with Maven
        run: mvn clean install -DskipTests
        working-directory: ./demo # Specify the relative path to your pom.xml location

      # - name: Upload artifact
      #  uses: actions/upload-artifact@v4
      #  with:
      #   name: demo-app
      #   path: demo/target/*.jar
  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
     - name: List all files
       run: ls -R
        
     - name: Deploy to EC2
       uses: appleboy/scp-action@v0.1.7
       with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }} # Default user for Amazon Linux
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "demo/target/demo-0.0.1-SNAPSHOT.jar" # Path to your JAR file
          target: "/home/ec2-user" # Destination directory on EC2

     - name: Run application on EC2
       uses: appleboy/ssh-action@v1.0.3
       with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ec2-user
            # Kill any existing process running on the app port (e.g., 8080)
            sudo kill -9 $(sudo lsof -t -i:8080) || true
            # Run the new JAR file as a background process
            nohup java -jar demo-0.0.1-SNAPSHOT.jar
