name: Spring Boot CI/CD to AWS EC2

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # - name: Checkout repository code
      #  uses: actions/checkout@v4 # Action to check out your code
      - name: Run a script
        run: echo "Building and deploying the application..." # A sample step
